<!DOCTYPE html>
 <html>
   <head>
     <title></title>
     <link rel="stylesheet" type="text/css" href="/styles-directory.css">
   </head>
   <body>
    {{#users}}
      <a href="./{{username}}"><div class="entry">
        <img src="{{avatar}}" alt="">
        <h1>{{name}}</h1>
        {{#job}}
        <p>{{job}}</p>
        <p>{{company}}</p>
        {{/job}}
        {{^job}}
        <p class="emphasis">Available for hire</p>
        {{/job}}
      </div></a>
    {{/users}}
   </body>
 </html>
